
<main>
<section class="mt-4" style="background-color: #85acbb">
<div class="d-flex align-items-center">
    <img src="/images/medio.png" class="tucuman " alt="not faund">

  <h3><strong>Bienvenidos</strong><br> <em> ¿Sabias que comprando agua en botellones retornables, ademas de cuidar tu bolsillo tambien cuidas el medio ambiente? ¡Estamos aqui para servirte! </em><br>
  contactanos al: 3815934659</h3>


</div>
</section>


<section  style="background-color: #9AC7D9">
<div class="d-flex align-items-center">
    
  <h3>Somos una pequeña empresa familiar Tucumana, dedicada a la venta y distribucion de agua envasada. contamos con 15 años de experiencia que respalda nuestro compromiso con cada uno de nuestros clientes</h3>

<img src="/images/Tucuman.jpg" class="tucuman " alt="not faund">
</div>


</section>






<section style="background-color: #85acbb">
<div class="d-flex align-items-center">
    <img src="/images/disfruta.jpg" class="tucuman " alt="not faund">

  <h3>Nuestros comienzos fueron como provedores del estado, y si bien aún hoy tenemos el gusto de seguir brindando nuestro servicio ahí, ahora tambien estamos trabajando en domicilios. algunas de zonas de reparto son: <em>San Miguel de Tucuman, Banda del Rio sali, Lastenia, Lomas de Tafi, Colombres Cruz Alta y Alderetes </em></h3>


</div>
</section>


<section style="background-color: rgb(245, 191, 191)">
<div class="d-flex align-items-center">
    

  <h3><strong>Volvamos a compartir</strong><br>tenemos la oportunidad de ir volviendo de a poco a nuestras rutinas prepandemia, pero eso no significa que esto llego a su fin. por eso te invitamos a seguir cuidandote, manteniendo siembre una buena higiene y evitando lugares muy concurridos. acordate, cuidarte es cuidarnos</h3>
    <img src="/images/pandemia.jpg" class="tucuman " alt="not faund">

</div>
</section>

</main>