<div class="container-fluid bg-dark ">
    <div class="row ">
        <div class="col-4 mt-8 ">
            <div class="d-flex justify-content-end d-flex align-items-start"></div>
            <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{usuario.username}}</h5>
                <p class="card-text">celular: {{usuario.celular}}</p>
                 <p class="card-text">mail: {{usuario.mail}}</p>
                <a href="usuarios/single/{{id}}" class="btn btn-primary">ver mas</a>
                </div>
            </div>
            </div>
         </div>
    </div>
</div>